body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background-image2.jpg'); /* Replace 'background_image.jpg' with your image file */
  background-size: cover;
  background-position: center;
  color: #333; /* Text color */
}

header {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="date"],
input[type="time"],
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.payment {
  margin-top: 30px;
  text-align: center;
}

.payment img {
  max-width: 200px;
}
